#calendar_table {
    text-align: center;
    width: 100%;
}

table, th, td {  
    border: 1px solid black;
    border-collapse: collapse;
    background-color: seashell;
}

td{
    width: 14.2%;
    padding: 15px;
}


